body {
  font-family: 'Fredoka One', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  color: #4A3429;
  background-color: #789496;
  background-image: url(../assets/floorGrey.svg);
  background-repeat: repeat;
}

/* trick to block reload when swipe down */
.is-game {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  color: #FFDEB3;
  text-shadow:
    -1px -1px 0 #4A3429,
     1px -1px 0 #4A3429,
     -1px 1px 0 #4A3429,
      1px 1px 0 #4A3429;
    text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

textarea {
  font-size: 18px;
  color: #4A3429;
  background-color: #fff;
  border: 0;
  padding: 0.5em;
  outline: 0;
}

textarea:focus {
  background-color: #f4f4f4;
}

h1,
h2,
h3 {
  font-family: 'Fredoka One', cursive;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.3em;
  margin: 0;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
}

@media only screen and (min-width: 767px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.3em;
  }
}

ul {
  margin: 0;
  text-align: left;
}

/* */
.headline,
.text {
  color: #FFDEB3;
  text-shadow:
    -1px -1px 0 #4A3429,
     1px -1px 0 #4A3429,
     -1px 1px 0 #4A3429,
      1px 1px 0 #4A3429;
}

@media only screen and (min-width: 767px) {
  .text {
    font-size: 1.3em
  }
}

/* helpers */
.margin {
  margin-bottom: 1em;
}

.centered {
  text-align: center;
}

.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}
