/* button */
.button {
  font-family: 'Fredoka One', sans-serif;
  font-size: 1em;
  line-height: 1.1em;
  padding: 0.8em 1em;
  background-color: #4A3429;
  color: #FFDEB3;
  border: 0;
  cursor: pointer;
  outline: 0;
  border-radius: 0.3em;
  touch-action: manipulation;
  user-select: none;
}

.button:hover {
  background-color: #563c2f;
}

.button[disabled] {
  cursor: default;
  background-color: rgba(74, 52, 41, 0.8);
}

.button[disabled]:hover {
  cursor: default;
}

.button__icon {
  width: 1em;
  height: 1em;
  fill:  #FFDEB3;
}

@media only screen and (min-width: 767px) {
  .button__icon {
    width: 1.5em;
    height: 1.5em;
  }
}

.button-group {
    margin: 0 -0.5em;
}

.button-group .button {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* overlay */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(54, 151, 83, 0.96);
  z-index: 2;
}

.overlay__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.overlay__action {
  position: absolute;
  top: 0.2em;
  right: 0.2em;
}

/* section */
.section {
  display: block;
}

.section-item {
  margin: 1em 0 2em;
}

@media only screen and (min-width: 767px) {
  .section {
    display: flex;
  }

  .section-item {
    margin-right: 1em;
    flex-grow: 1;
  }

  .section--with-3-items .section-item {
    width: 33%;
  }

  .section-item:last-child {
    margin-right: 0;
  }
}
