body {
  font-family: 'Fredoka One', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  color: #4A3429;
  background-color: #789496;
  background-image: url(all-icons/floorGrey.svg);
  background-repeat: repeat;
}

a {
  color: #FFDEB3;
  text-shadow:
    -1px -1px 0 #4A3429,
     1px -1px 0 #4A3429,
     -1px 1px 0 #4A3429,
      1px 1px 0 #4A3429;
    text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.game-arena {
  margin: 0 auto;
  display: block;
}

h1 {
  font-family: 'Fredoka One', cursive;
  font-weight: 400;
  font-size: 2.5em;
  line-height: 1.3em;
}

.header {
  margin-bottom: 2em;
  text-align: center;
}

.headline {
    text-align: center;
    color: #FFDEB3; /* #D8443D; red */
    text-shadow:
      -2px -2px 0 #4A3429,
       2px -2px 0 #4A3429,
       -2px 2px 0 #4A3429,
        2px 2px 0 #4A3429;
    margin: 0;
}

.margin {
  margin-top: 1em;
}

.text {
  color: #FFDEB3;
  text-shadow:
    -1px -1px 0 #4A3429,
     1px -1px 0 #4A3429,
     -1px 1px 0 #4A3429,
      1px 1px 0 #4A3429;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(54, 151, 83, 0.96);
}

.overlay-body {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  z-index: 1;
}


.ribbon {
  background-image: url(all-icons/ribbon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  font-size: 2em;
  line-height: 4em;
  color: #4A3429;
  text-align: center;
}

.button {
  font-family: 'Fredoka One', sans-serif;
  font-size: 1.2em;
  line-height: 2em;
  padding: 0.5em 1.5em;
  background-color: #4A3429;
  color: #FFDEB3;
  border: 0;
  cursor: pointer;
  outline: 0;
  border-radius: 0.3em;
}

.button:hover {
  background-color: #563c2f;
}

.button--small {
  font-size: 1em;
  line-height: 1.5em;
  padding: 0.5em 1em;
}

.button[disabled] {
  cursor: default;
  background-color: rgba(74, 52, 41, 0.7);
}

.button[disabled]:hover {
  cursor: default;
}

.button-group .button {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.level-preview-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto;
}

.level-preview-item {
  margin: 2em;
  position: relative;
}

.level-preview-item__level {
  cursor: pointer;
  /*background-color: #789496;*/
  /*background-image: url(all-icons/floorGrey.svg);*/
  background-repeat: repeat;
  opacity: 0.8;
}

.level-preview-item__level:hover {
  opacity: 1;
}

.level-preview-item__delete-button {
  position: absolute;
  right: -25px;
  top: -20px;
}

.footer {
  text-align: center;
  margin: 5em 0 1em;
}

.centered {
  text-align: center;
}

.level-input {
  width: 50%;
  height: 12em;
}
