body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  margin: 0;
  color: #293c4b;
}

.game-arena {
    margin: 10px auto;
    display: block;
	background-color: #ddd;
    background-image: url(icons/floor.svg);
    background-repeat: repeat;
}
